*.egg-info
*.pyc
cached_func_calls/*
profile_output
site/write/*
tests/corpus/newyorker/*
cache/*
proselint/cache/*
build/*
*.egg
*.rdb
.coverage
proselint/proselint_develop.sublime-project
proselint/proselint_develop.sublime-workspace
corpora/*
!corpora/README.md
dist/
*.pstore
