# Nix
.direnv/
.envrc
.result/
.pre-commit-config.yaml

# Python
*.egg
*.egg-info
*.pyc
*.pstore
*.rdb
__pycache__/
build/
dist/
cache/
proselint/cache/
cached_func_calls/*

# Coverage
.coverage
coverage.lcov
profile_output

# Tests
.hypothesis/
tests/corpus/newyorker/*

# Corpora
corpora/*
!corpora/README.md

# Editor
proselint/proselint_develop.sublime-workspace
.proselint/proselint_develop.sublime-project
.site/write/*
