language: python
python:
- '2.7'
- '3.3'
- '3.4'
before_install:
- echo -e "machine github.com\n  login $CI_USER_TOKEN" >> ~/.netrc
install:
- pip install -r requirements.txt
- gem install jekyll-gist -v '1.2.1'
- gem install jekyll
- gem install jekyll-sitemap
- gem install s3_website
- gem install compass --version 0.12.5
- gem install kramdown
- gem install travis
- gem install link-checker
before_script:
- travis lint -x --skip-completion-check
- python scripts/insert_demo.py
script:
- nosetests --with-coverage --cover-package proselint
- cd site
- jekyll build
- s3_website push
- cd ..
- pep8 .
- pep257 . --match='.*\.py'
- check-links "http://proselint.com"
after_success:
- coveralls
env:
  global:
  - secure: cB2hODqR9V3P8c2BupySJnz825snT2vqhpB4RnnyYD5L1E+nzZK9KdApgx0U/f1YHZujhPnbdXAfq1QQztIf6EocbF1CrSKPCavJoJ/CSQ53X775++PegBZXL66PSYfMX28MFcuYCvqcBxSKX26kpT72IjtgHHEROz/NkrifHog=
  - secure: Ri3M0/J5J11LpMSSD3XoJdB/rkINP3Ir9leoUfrUlws89IiGQiscmvp8WamFnY3Z9HMzwSqV0Aj62SjPM811Iog+uRY2thH+wunVHDovj1NNI1bfGgmu1LEIivoRwnUKd3wyx7HurgQxt4hrN2AhOvCQsUms6NU/n/cGBbo1J2s=
  - secure: EdCRjICaZwf3NOKPulTMZmWzx1d0yjbrOOv4YwcaDRpaTwhgzm/BIqi8UCWMY1zOk39+dZj+2Tn8pGOaDhiLbJimyEk8+xOiMmBXc2RBlKmsfktM+I+hZmVFDEOMVxI1VefV97Xhd8+hsojyDcgQ1vRPuv9tSrCvS/yY0eM0nHg=
deploy:
  - provider: heroku
    api_key:
      secure: L3Z04s4YxouUA4pzDW38GusXQ82KNCI73RYUCpZhBXhtxqB3hK5dHX0/UMUnXWJLyu7fuZoYLfSAs2dIl2dNAvxN0OeRBSHR/hToprASfxBKiVfmzKJUE4UxzUkRbxxFcoA4pqSz6AcXQPW1NOVkvD7IMgKEqMJQyehonysw66k=
    app: proselint
    on:
      repo: amperser/proselint
      python: '3.4'
  - provider: pypi
    user: amperser
    password:
      secure: HQsDviCtZW/UJB44gmGS4a1z1NgFaPK0pWcF9/BkB6NJWkGNIoJ6iZFY288unTVzARUoke2pGP29/1ZxeqsZGq5iLV1EvW0E9M4rl2l0BKkDxJjtNPVTHUov/7E8MnaWBQQC1Vc+LXB1oErakKPJ8TeURE+mnL4bb/fq4W7VCPU=
    on:
      tags: true
      branch: master
      python: '3.4'
notifications:
  email:
    recipients:
    - suchow@post.harvard.edu
    on_success: always
    on_failure: always
addons:
  code_climate:
    repo_token: 32f92d10b6a0f99a4b35f3e7022040f10dc68b640525237af401b7c4e44faf46
