sudo: required
dist: xenial
language: python
python:
- '2.7'
- '3.4'
- '3.5'
- '3.6'
- '3.7'
- '3.8'
install:
- pip install -r requirements.txt
- gem install travis
- gem install jekyll-gist -v '1.2.1'
- gem install jekyll -v 2.5.3
- gem install jekyll-sitemap
- gem install s3_website
- gem install compass --version 0.12.5
- gem install kramdown
- gem install danger
- gem install danger-prose
before_script:
- travis lint -x --skip-completion-check
script:
- pep8 .
- pep257 . --match='.*\.py'
- bundle exec danger
- py.test
- if [ "$TRAVIS_BRANCH" = "master" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
    python scripts/insert_demo.py;
    cd site;
    jekyll build;
    s3_website push;
    cd ..;
    wget --spider -e robots=off -w 1 -r -p http://www.proselint.com;
  fi
after_success:
- coveralls
env:
  global:
  - secure: cB2hODqR9V3P8c2BupySJnz825snT2vqhpB4RnnyYD5L1E+nzZK9KdApgx0U/f1YHZujhPnbdXAfq1QQztIf6EocbF1CrSKPCavJoJ/CSQ53X775++PegBZXL66PSYfMX28MFcuYCvqcBxSKX26kpT72IjtgHHEROz/NkrifHog=
  - secure: Ri3M0/J5J11LpMSSD3XoJdB/rkINP3Ir9leoUfrUlws89IiGQiscmvp8WamFnY3Z9HMzwSqV0Aj62SjPM811Iog+uRY2thH+wunVHDovj1NNI1bfGgmu1LEIivoRwnUKd3wyx7HurgQxt4hrN2AhOvCQsUms6NU/n/cGBbo1J2s=
  - secure: EdCRjICaZwf3NOKPulTMZmWzx1d0yjbrOOv4YwcaDRpaTwhgzm/BIqi8UCWMY1zOk39+dZj+2Tn8pGOaDhiLbJimyEk8+xOiMmBXc2RBlKmsfktM+I+hZmVFDEOMVxI1VefV97Xhd8+hsojyDcgQ1vRPuv9tSrCvS/yY0eM0nHg=
  - secure: wvSA6fpl4oEsQHhp99csnyt2aXaGcFx6tsvhVteielmV7cLSblCK3Ne8wkzeGY0E8XXdu3P2sFbwRYiA26tOI87VaNRRutb4VptarSglB1w6UvLK11cepEfk89LIeFvLSC5aEdGeFhcp+gUCn3ZjicRSuMsEQgD2ifEOSzWc7FXbR3I5f3m58Xlw70y90Beoa3UginKZrB9cskUA60LgZDwwrTjvM4GzHpP3gSbL3+2dUaVxJBsiZFmGk9D2pfRc449oz5f9FxK0fgY2x0lDnxN9tQ0X7tF4icl/bzzIjkoSXrYCTtSdLFsG4P0Q7baN2jB3D81iCaqqoqyW0lspAAbQCLXcC9Qqjtlz+tZI6PARtbLn7O4P1IHyjMY6i1orX3OfYgP+51OyS8QTHabXVuluYspA2yrw7+UcNPuv3KUt8M4hFNEEYpAl3g8Ti17U48GZiLzpZyoYyqalE4psb4CfZH9GmEr5IQT9uMKcq+NHgOS01kwDT1ry3TuM0ttNgGy9jCtm5hWs9DQZwVLWXO/ao+w+6rf8kTBdfpzb4/JhH3Nsgfj7gwQlnGZZpE6RfEx3mZGRNFpbalSCnlTgBn7uKilcPOQPpCgU0zLkH3aidAruG6s+5dW+Q9WJfuZZiUhmcr1JYEIR+e9KkjJF6DDuqM+TZiwKTsbZntu29ao=
  - secure: DKS6Z+Jp7Mkgc/YKfXkUc1adkgoVt1LvvfMrXB241aw0G4d9sICLQDXBQgp79+ONpUKaeuoNkZt8K+0uMKpXkHixJB1zMBLRb3W+FXoaavHrtgamjEs4JA2UuHBKQ/5G+iMgmQqy1vSzYNLQT/QTOhl1y0Zg4x22wFFaNXSXqxKvcX+YzzwWddwAyirSX8spfeWQ9rG0hRuWJhhcO/nVL8lCf97aLgXCrPE8vy6JuGsRM1ZAZ/4yYEar3EXPWCtuRnuGeUX8GS+R2am0H9dTts+ERUIzwcyZbCdYSH6TjNpv24MWX0XD0VfhtQBkw9QmTGZ8wCypKTZ+w2HqPL9XEYOh70yEmr2I8gEgbXoOqa8I+WvrdYdKwl+iGPXDQLh60f5IZvWpWQAPOzDbeeAGFBx7rzxnuFem52fyzytp4lEYfuE11spOAk96fQJTPpVKDCS2tLvtMOAN/bIDghd+oriK4o1Qy5o3oZA0uResztAJTgm2Qx2NuqtFPr+Zv/NvPq6gSTlsLUkh1TVEolBB5SbDIzg8PEU7Ml6mdmGSWlYpzug2L01ly1GvJSnx0ObivSwQJibti8jAFiyD6DMBnlwrYmv8CXfc+NROZy35NADUE9VRaQRvObQJZfWFVvVCCmhqUNCYAceZ88Y2lgKMtL3t74rUAcWgbhrDYWZHo98=
notifications:
  email:
    recipients:
    - suchow@post.harvard.edu
    on_success: always
    on_failure: always
addons:
  code_climate:
    repo_token: 32f92d10b6a0f99a4b35f3e7022040f10dc68b640525237af401b7c4e44faf46
deploy:
  provider: pypi
  user: amperser
  distributions: sdist bdist_wheel
  on:
    tags: true
    repo: amperser/proselint
    branch: master
    python: 3.6
  password:
    secure: g0ki780HtYsGXKuhcBw1+LCzF30gCP07V0PsTjPPCwzuJnVMMl4XeJ8Zre1IHCk2k4F92mjQfcUWuIC4VKnYnH9R9D7empEcrKa5ligYKeNIT4k6pC6T7B/gmrESddoVFqmIVdFbVxlRxTpaUoKWb5En2VCCkgKI6LoQpkKKthb0rLVkkTgEoa0CemVffz0HLE1y2Xt8eGR9CvY4P79E2VPbm8TGwrR+j3cVwshZE3gINvUYN2Y/8hogMk84v8iJiXxkEYM13ib+Ah9zI8QsSC4/lGdxXDqFkiQZwncKw9YC5DxZ5SdoAcleIEAWwEHuZ0Pq7KQ9pOfrqv38r4HBaKUZa6IrEC0A1+aeM8xrH8Bl6B+Hxng5WywPicAen97oRyteazvshUVmv8mq2rzGcOrPG8XNrO5OvLgkdo4/3Xeips6ZyBorDGabYQywc5ZydLkSGnn+5jffi1+eEJKndjkPVBjLgE2c0nt1yAxqYkrzO+R6NKpqwhUEfCblN0SOuBNJrDLOLP+wH22Hmn+N0im0S6JT5L2cXDZq2Og3/ES1g2yHS0aNCKN5awaybVuMSHLd3WTkyT3MgWUgBbkFJ3AGMpNZrVsktpKpNfz8F4doDvPwaWTcxB0/DIQNBzX4Zn8FDOBaWYuk31rDurFwSTZ/k8nvjnngSjcacL9Gjn0=
