[tool.poetry]
name = "proselint"
version = "0.13.0"
description = "A linter for prose."
license = "BSD-3-Clause"
authors = ["Amperser Labs <hello@amperser.com>"]
readme = "README.md"
homepage = "https://proselint.com"
repository = "https://github.com/amperser/proselint"
classifiers = ["Programming Language :: Python :: Implementation :: CPython"]
include = [
	"proselint/",
	"tests/",
	"proselint/demo.md",
]
exclude = ["tests/.gitignore"]

[tool.poetry.dependencies]
python = "^3.6.1"
click = "^8.0.0"
future = "^0.18.2"

[tool.poetry.dev-dependencies]
gmail = {git = "https://github.com/charlierguo/gmail.git"}
APScheduler = ">=3.5.3"
bumpversion = ">=0.5.3"
coverage = "^6.1"
Flask-API = ">=1.0"
Flask-Cors = ">=3.0.4"
Flask = ">=1.1.4"
Flask-Limiter = ">=1.0.1"
gunicorn = ">=19.8.1"
mock = ">=2.0.0"
pytest = "^6.2.5"
redis = ">=2.10.6"
requests = ">=2.19.1"
rq = ">=0.12.0"
pydocstyle = "^6.1.1"
twine = "^3.8.0"
flake8 = "^4.0.1"
flake8-bugbear = "^22.1.11"
flake8-import-order = "^0.18.1"
isort = "^5.10.0"

[tool.poetry.scripts]
proselint = "proselint.command_line:proselint"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
