[tool.poetry]
name = "proselint"
version = "0.13.0"
description = "A linter for prose."
license = "BSD-3-Clause"
authors = ["Amperser Labs <hello@amperser.com>"]
readme = "README.md"
homepage = "https://proselint.com"
repository = "https://github.com/amperser/proselint"
classifiers = ["Programming Language :: Python :: Implementation :: CPython"]
include = [
	"proselint/",
	"tests/",
	"proselint/demo.md",
]
exclude = ["tests/.gitignore"]

[tool.poetry.dependencies]
python = ">=3.8.1"
click = ">=8.0.0"
typing_extensions = ">=4.9.0"

[tool.poetry.extras]


[tool.poetry.dev-dependencies]
bumpversion = ">=0.5.3"
coverage = ">=7.0"
mock = ">=2.0.0"
pydocstyle = "^6.1.1"
pytest = ">=7.0.0"
pytest-click = ">=1.1.0"
twine = ">=4.0.0"
pre-commit = ">=3.0.0"
# web-stuff
APScheduler = ">=3.5.3"
Flask-API = ">=1.0"
Flask-Cors = ">=3.0.4"
Flask = ">=1.1.4"
Flask-Limiter = ">=1.0.1"
gunicorn = ">=19.8.1"
gmail = {git = "https://github.com/charlierguo/gmail.git"}
redis = ">=2.10.6"
requests = ">=2.19.1"
rq = ">=0.12.0"

[tool.poetry.scripts]
proselint = "proselint.command_line:proselint"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
