-e git+https://4753ad3ace64ac52c8e052ff8e782eb8a6960b04:x-oauth-basic@github.com/suchow/nltk.git@develop#egg=nltk
-e git+https://4753ad3ace64ac52c8e052ff8e782eb8a6960b04:x-oauth-basic@github.com/suchow/proselint.git#egg=proselint
-e git+https://4753ad3ace64ac52c8e052ff8e782eb8a6960b04:x-oauth-basic@github.com/suchow/TextBlob.git#egg=textblob
beautifulsoup4==4.3.2
click==3.3
Flask==0.10.1
Flask-API==0.6.2
Flask-Cors==1.10.3
Flask-Limiter==0.7.8
gunicorn==19.2.1
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
pep257==0.4.1
pep8==1.6.1
queuelib==1.2.2
redis==2.10.3
requests==2.5.1
rq==0.5.1
six==1.9.0
Werkzeug==0.10.1
wikipedia==1.4.0
