# Site settings
title:       proselint
email:       hello@amperser.com
author:      Amperser Labs
description: "A linter for prose."
baseurl:     ""
url:         "http://proselint.com"

# Google analytics
google_analytics: UA-61797721-1

# Optional features
animated:           false
show_related_posts: false
show_post_footers:  false

# Disqus post comments
# (leave blank to disable Disqus)
disqus_shortname:

# Social icons
show_social_icons: false
github_username:
stackoverflow_id:
twitter_username:
google_plus_id:
linkedin_username:
bitcoin_url:
paypal_url:
flattr_button:

# Build settings
markdown:     redcarpet
permalink:    /:title/
paginate:     3
sass:
  compressed: true
gems:
  - jekyll-sitemap
redcarpet:
  extensions: ['tables']