<!DOCTYPE html>
<html>
{% include head.html %}
<body class="{% if site.animated %}animated fade-in-down{% endif %}">
  <div class="site-wrap">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}

  <script>
      var _gscq = _gscq || [];
      _gscq.push(['language', navigator.language]);
      (function() {
        var gscw = document.createElement('script');
        gscw.type = 'text/javascript'; gscw.async = true;
        gscw.src = '//widgets.getsitecontrol.com/15350/script.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gscw, s);
      })();
  </script>

</body>
</html>
