name: "CD: Site"
on:
  release:
    types: [created]
jobs:
  build-site:
    name: Build Site
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        python: [3.9]
        ruby: [3.0.0]
    steps:
      - name: "[INIT] Checkout repository"
        uses: actions/checkout@v2
      - name: "[INIT] Install Python ${{ matrix.python }}"
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: "[INIT] Install Ruby ${{ matrix.ruby }}"
        uses: ruby/setup-ruby@v1.123.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: "[EXEC] Insert demo"
        run: python scripts/insert_demo.py
      - name: "[EXEC] Build site"
        run: cd site && ~/.gem/ruby/${{ matrix.ruby }}/jekyll build
      - name: "[EXEC] Push to s3"
        run: s3_website push
      - name: "[POST] Verify crawl"
        run: |
          cd ..
          wget --spider -e robots=off -w 1 -r -p https://www.proselint.com
